---
name: CI/CD Pipeline for Portfolio
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Check files
        run: |
          test -f Dockerfile
          test -f src/index.html
          test -f src/style.css
      
      - name: Build
        run: docker build -t portfolio:${{ github.sha }} .
      
      - name: Test
        run: |
          docker run -d -p 8080:80 portfolio:${{ github.sha }}
          sleep 2
          curl -f http://localhost:8080
          docker stop $(docker ps -q)